<%= link_to "New Note", new_note_path, remote: true, class: "btn btn-primary" %>
  <% if current_user.autosave %>
      <%= link_to "AutosaveOff", noautosave_notes_path(@user), remote: true,
       class: "btn btn-primary" %>
  <% else %>
      <%= link_to "AutosaveOn", autosave_notes_path(@user), remote: true,
        class: "btn btn-primary" %>
  <% end %>
<br><br>

<div class="col-md-3" style="height: 500px; overflow-y: scroll;">
  <div class="container-fluid">
    <div class="new-note"></div>
        <%= render "side" %>
    <div id="note-modal" class="modal fade"></div>
    <div id="search-form">  </div>
  </div>
</div>
<div class="col-md-9">
  <div id="edit-form" class="col-sm-4"></div>
  <div id="user-form" class="col-sm-5"></div>
  <div id="tag-form" class="modal fade"></div>
  <div id="share-form" class="modal fade"></div>
  <div id="index-form" class="modal fade"></div>
  <div id="show-form" class="modal fade"></div>
</div>
