<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi   <%= @sendto %></h1>
    <p>
      Edit Acess requested by  "<%= @user %>" for this note  "<%= @note %>"<br><br>
      Please click on this link for granting the permission <a href="<%= @url %>">Click Here</a>
    </p>
  </body>
</html>
