<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi   <%= @sharenote.email %></h1>
    <p>
      A new note shared by <%= @user %>
      To view the note please login here      <a href="<%= @url %>">Login</a>
    </p>
  </body>
</html>
